{# La mappa: la stessa in piccolo nella colonna e in grande nella pagina.
   Il disegno lo fa lo script che sta in fondo alla finestra, una volta sola
   per tutte le mappe presenti. #}
<div class="mapbox">
  <svg class="worldmap" viewBox="0 0 720 360" preserveAspectRatio="xMidYMid meet" role="img"
       aria-label="Locatori lavorati sulla mappa del mondo">
    <rect x="0" y="0" width="720" height="360" class="sea"></rect>
    <g class="graticule"></g>
    <g class="coast"></g>
    <g class="grids"></g>
  </svg>
</div>
